.main-div {
  margin-top: 10rem;
}

.product-card {
  text-align: center;
  margin: 2rem auto;
  background-color: white;
  border-radius: 1px;
}

.product-card-label {
  display: block;
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.product-card-value {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.date-picker {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: #ebf0f7;
    border: none;
    width: 100%;
    height: 2.5rem;
}

.search-button {
  margin: 0 auto;
  display: block;
  background-color: #6f32c9;
  color: white;
  font-size: 1rem;
  height: 3rem;
  border-radius: 0;
  font-weight: 600;
}

.search-button:disabled {
  background-color: #b194e1;
  color: #d8c9f0;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 8px 15px -1px rgba(100,100,100,.2), 0 1px 1px 0 rgba(100,100,100,.14), 0 1px 3px 0 rgba(100,100,100,.12);
}
