<div [@slideIn] fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex.gt-xs="20%" fxFlex.xs = "90%" class="product-card">
    <span class="product-card-label">Product:</span>
    <mat-card-title class="product-card-value">{{ product.name }}</mat-card-title>
    <span class="product-card-label">Product ID:</span>
    <mat-card-title class="product-card-value">{{ product.id }}</mat-card-title>
  </mat-card>

  <mat-card fxFlex.gt-xs="20%" fxFlex.xs = "90%" class="product-card">
    <span class="product-card-label">Enter Expiration Date:</span>
    <input
    
    autocomplete="off"
    class="date-picker"
    [matDatepicker]="picker"
    placeholder="mm / dd / yyyy"
    [(ngModel)]="expirationDate"
    (focus)="picker.open()"
    (click)="picker.open()">
    <mat-datepicker #picker></mat-datepicker>
  </mat-card>

  <button fxFlex.gt-xs="9%" fxFlex.xs = "90%" mat-flat-button class="search-button" [disabled]="!expirationDate" [routerLink]="['/origin']">Search</button>
</div>
