<mat-sidenav-container>

    <mat-sidenav-content>
        <mat-toolbar >
            <div class="logo">
                <img src="assets/png/logo.png" (click)="login()">
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="center center">
                <img fxFlex.gt-xs="50%" fxFlex.xs = "60%" src="assets/png/logo.png">
                <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.md>
                    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                        <button  mat-button (click)="login()">
                            <mat-icon class="icon">transit_enterexit</mat-icon>
                        </button>
                    </ul>
                </div>
            </div> -->
        </mat-toolbar>
        <main>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
