body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mat-icon {
  margin-left: 3rem;
}

img {
  display: block;
  margin: 0 auto;
}

li {
  margin: 0 auto;
}

a {
  color: #6f32c9;
}

.list-ic h4 {
  display: inline;
  margin-left: 0.5rem;
  color: #788288;
  text-decoration: none;
}

.list-ic p {
  display: inline;
  margin-left: 2rem;
}

.list-ic li {
  position: relative;
}

.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #6f32c9;
  color: white;
  position: relative;
}

.list-ic li::before {
  content: '';
  position: absolute;
  background: #6f32c9;
  z-index: -1;
}

.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
.list-ic.vertical li::before {
  top: -4.8rem;
  left: 0.9rem;
  width: 0.2em;
  height: 6.2rem;
}
.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}
