<div [@slideIn] fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
<img fxFlex.gt-xs="50%" fxFlex.xs = "60%" src="assets/png/map.png">
</div>
<ul fxFlex.gt-xs="24%" fxFlex.xs = "50%" class="list-ic vertical">
    <li>
      <span>A</span>
      <h4>Cairo, Egypt</h4><p style="margin-left: 4.7rem;">Certificate</p>
      <br>
      <p>March 15, 2019 at 9:32 AM</p>
      <a href=""><mat-icon>assignment</mat-icon></a>
      <br>
      <p>Packing</p>
    </li>
    <li>
      <span>B</span>
      <h4>Assiut, Egypt</h4>
      <br>
      <p>March 15, 2019 at 9:32 AM</p>
      <a href=""><mat-icon>assignment</mat-icon></a>
      <br>
      <p>Shipping</p>
    </li>
    <li>
      <span>C</span>
      <h4>Hurghada, Egypt</h4>
      <br>
      <p>March 15, 2019 at 9:32 AM</p>
      <a href=""><mat-icon>assignment</mat-icon></a>
      <br>
      <p>Distributing</p>
    </li>
  </ul>
<br><br>
</div>
