<div fxLayout="row" fxLayoutAlign="center center" class="image">
  <mat-card [@slideIn] fxFlex.gt-xs="40%" fxFlex.xs = "90%">
    <form [formGroup]="siginInForm">
      <mat-card-title style="margin-top: 20px" fxLayoutAlign="center" >Product Search</mat-card-title>
      <mat-card-content fxLayout="column">
        <div fxLayoutAlign="center center">
          <button  style="width: 100%; margin-top: 30px; background-color: blueviolet; color: white" (click)="scan()" class="btn">Scan</button>
        </div>
        <div class="form-group" fxLayoutAlign="center center">
          <p  style="width: 100%; margin-top: 30px">Start by scanning the UPC or QR code on your package</p>
        </div>
      </mat-card-content>

    </form>
  </mat-card>
</div>