

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card [@slideIn] fxFlex.gt-xs="40%" fxFlex.xs = "90%">
        <mat-card-content fxLayout="column">
          <div fxLayoutAlign="center center">
            <img fxFlex.gt-xs="40%" fxFlex.xs = "90%"[src]="selectedPath" (click)="navigateToSearch()"(contextmenu)="navigateToSearch()">
          </div>
        </mat-card-content>
    </mat-card>
  </div>